<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>PaginaAdmFilter</filter-name>
        <filter-class>com.mycompany.otpserver.PaginaAdmFilter</filter-class>
    </filter>
    <filter>
        <filter-name>NoSalirFilter</filter-name>
        <filter-class>com.mycompany.otpserver.NoSalirFilter</filter-class>
    </filter>
    <filter>
        <filter-name>NoSalir2Filter</filter-name>
        <filter-class>com.mycompany.otpserver.NoSalir2Filter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>NoSalir2Filter</filter-name>
        <servlet-name>ValidacionOTPServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>NoSalirFilter</filter-name>
        <servlet-name>LoginServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PaginaAdmFilter</filter-name>
        <servlet-name>PaginaAdmServlet</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.mycompany.otpserver.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidacionOTPServlet</servlet-name>
        <servlet-class>com.mycompany.otpserver.ValidacionOTPServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PaginaAdmServlet</servlet-name>
        <servlet-class>com.mycompany.otpserver.PaginaAdmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.mycompany.otpserver.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidacionOTPServlet</servlet-name>
        <url-pattern>/ValidacionOTPServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PaginaAdmServlet</servlet-name>
        <url-pattern>/PaginaAdmServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            1
        </session-timeout>
    </session-config>
</web-app>
