<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <filter>
        <filter-name>TerminarSession</filter-name>
        <filter-class>com.mycompany.firstpage.TerminarSession</filter-class>
    </filter>
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>com.mycompany.firstpage.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>RegisterFilter</filter-name>
        <filter-class>com.mycompany.firstpage.RegisterFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RegisterFilter</filter-name>
        <url-pattern>/registro.html</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/login.html</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TerminarSession</filter-name>
        <servlet-name>/ChangeServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TerminarSession</filter-name>
        <servlet-name>/ClientesRadius</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TerminarSession</filter-name>
        <servlet-name>/UsuarioServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TerminarSession</filter-name>
        <servlet-name>/EstadoServidoresServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TerminarSession</filter-name>
        <servlet-name>/PanelServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>TerminarSession</filter-name>
        <servlet-name>/UserHTMLView</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>com.mycompany.firstpage.MainServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlServlet</servlet-name>
        <servlet-class>com.mycompany.firstpage.ControlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.mycompany.firstpage.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PanelServlet</servlet-name>
        <servlet-class>com.mycompany.firstpage.PanelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTemporal</servlet-name>
        <servlet-class>com.mycompany.firstpage.ServletTemporal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EstadoServidoresServlet</servlet-name>
        <servlet-class>com.mycompany.firstpage.servidores.EstadoServidoresServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioServlet</servlet-name>
        <servlet-class>com.mycompany.firstpage.usuarios.UsuarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeServlet</servlet-name>
        <servlet-class>com.mycompany.firstpage.cambiocredenciales.ChangeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientesRadius</servlet-name>
        <servlet-class>com.mycompany.firstpage.radius.ClientesRadius</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>com.mycompany.firstpage.TestServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <url-pattern>/MainServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlServlet</servlet-name>
        <url-pattern>/ControlServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PanelServlet</servlet-name>
        <url-pattern>/PanelServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTemporal</servlet-name>
        <url-pattern>/ServletTemporal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EstadoServidoresServlet</servlet-name>
        <url-pattern>/EstadoServidoresServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioServlet</servlet-name>
        <url-pattern>/UsuarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeServlet</servlet-name>
        <url-pattern>/ChangeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientesRadius</servlet-name>
        <url-pattern>/ClientesRadius</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>5</session-timeout>
    </session-config>
</web-app>
